<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Garcons</title>
    </h:head>
    <h:body>
        <p:growl id="mensagem" />

        <h:form id="formListagem">
            <p:panel header="Garcons - Listagem">
                <p:dataTable id="tabela" emptyMessage="Nenhum registro encontrado."
                             paginator="true" value="#{garcomBean.garcons}" var="pessoa"
                             rows="10">
                    <f:facet name="header">
                        <p:commandButton value="Novo" oncomplete="PF('dialogo').show();"
                                         actionListener="#{garcomBean.novo}" update=":formCadastro:painel" />
                    </f:facet>

                    <p:column headerText="Nome do garcom" filterBy="#{garcom.pessoa.nome}" sortBy="#{garcom.pessoa.nome}">
                          <h:outputText value="#{garcom.pessoa.nome}" />
                    </p:column>
                    
                  
                    <p:column headerText="Opções">
                        <p:commandButton icon="ui-icon-trash"
                                         actionListener="#{garcomBean.excluir}"
                                         update=":mensagem :formListagem:tabela">

                            <p:confirm header="Confirmação" message="Excluir o garcom?"
                                       icon="ui-icon-alert" />

                            <f:attribute name="pessoaSelecionado" value="#{garcom}" />
                        </p:commandButton>

                        <p:commandButton icon="ui-icon-pencil"
                                         actionListener="#{garcomBean.editar}"
                                         update=":formCadastro:painel" oncomplete="PF('dialogo').show();">
                            <f:attribute name="pessoaSelecionado" value="#{garcom}" />
                        </p:commandButton>
                            
                          <p:commandButton icon="ui-icon-person"
                                         actionListener="#{garcomBean.editar}"
                                         update=":formCadastro:painel" oncomplete="PF('dialogo').show();">
                            <f:attribute name="mesaSelecionado" value="#{garcom}" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>

                <p:confirmDialog global="true">
                    <p:commandButton value="Sim" type="button"
                                     styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />

                    <p:commandButton value="Não" type="button"
                                     styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>

            </p:panel>
        </h:form>

        <!-- Dialog do Formaulario de Cadastro (Inclusão) -->

        <p:dialog header="Garcons - Cadastro" widgetVar="dialogo"
                  draggable="false" resizable="false" modal="true" closable="false">
            <h:form id="formCadastro">
                <h:panelGrid id="painel" columns="2">
                    <p:outputLabel value="Garcom:" />
                    
                    <p:selectOneMenu filter="true" 
                                value="#{garcomBean.garcom.pessoa}"
                                converter="omnifaces.SelectItemsConverter">

                           <f:selectItem noSelectionOption="true" itemLabel=" -Selecione- " />

                           <f:selectItems  value="#{garcomBean.pessoas}" 
                                var="estado"
                                itemValue="#{pessoa}" 
                                itemLabel="#{pessoa.nome}"/>
                    </p:selectOneMenu>
                    

                </h:panelGrid>
                

                <h:panelGrid columns="2" width="50%" styleClass="center-table" style="text-align:right">
				<p:commandButton value="Salvar"								 
                                    actionListener="#{garcomBean.salvar}"
                                    update=":mensagem :formCadastro:painel :formListagem:tabela" />
				<p:commandButton value="Fechar" 
                                oncomplete="PF('dialogo').hide();" />
			</h:panelGrid>
            </h:form>
        </p:dialog>
    </h:body>
</html>