<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Pedidos</title>
    </h:head>
    <h:body>
        <p:growl id="mensagem" />

        <h:form id="formListagem">
            <p:panel header="Pedidos - Listagem">
                <p:dataTable id="tabela" emptyMessage="Nenhum registro encontrado."
                             paginator="true" value="#{pedidoBean.pedidos}" var="pedido"
                             rows="10">
                    <f:facet name="header">
                        <p:commandButton value="Novo" oncomplete="PF('dialogo').show();"
                                         actionListener="#{pedidoBean.novo}" update=":formCadastro:painel" />
                    </f:facet>
                    
                    <p:column headerText="Numero da mesa" filterBy="#{pedido.produto}" sortBy="#{pedido.produtos}">
                          <h:outputText value="#{pedido.produto.nome}" />
                  </p:column>
                    
                    <p:column headerText="Numero da mesa" filterBy="#{pedido.mesa.numero}" sortBy="#{pedido.mesa.numero}">
                          <h:outputText value="#{pedido.mesa.numero}" />
                  </p:column>
                    
                  
                    <p:column headerText="Opções">
                        <p:commandButton icon="ui-icon-trash"
                                         actionListener="#{pedidoBean.excluir}"
                                         update=":mensagem :formListagem:tabela">

                            <p:confirm header="Confirmação" message="Excluir a pessoa?"
                                       icon="ui-icon-alert" />

                            <f:attribute name="pessoaSelecionado" value="#{pedido}" />
                        </p:commandButton>

                        <p:commandButton icon="ui-icon-pencil"
                                         actionListener="#{pedidoBean.editar}"
                                         update=":formCadastro:painel" oncomplete="PF('dialogo').show();">
                            <f:attribute name="pessoaSelecionado" value="#{pedido}" />
                        </p:commandButton>
                            
                          <p:commandButton icon="ui-icon-person"
                                         actionListener="#{pedidoBean.editar}"
                                         update=":formCadastro:painel" oncomplete="PF('dialogo').show();">
                            <f:attribute name="mesaSelecionado" value="#{pedido}" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>

                <p:confirmDialog global="true">
                    <p:commandButton value="Sim" type="button"
                                     styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />

                    <p:commandButton value="Não" type="button"
                                     styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>

            </p:panel>
        </h:form>

        <!-- Dialog do Formaulario de Cadastro (Inclusão) -->

        <p:dialog header="Pessoas - Cadastro" widgetVar="dialogo"
                  draggable="false" resizable="false" modal="true" closable="false">
            <h:form id="formCadastro">
                <h:panelGrid id="painel" columns="2">
                   
                    <p:outputLabel value="Produto:" />
                    <p:selectOneMenu filter="true" value="#{pedidoBean.pedido.produto}" converter="omnifaces.SelectItemsConverter" label="Produtos">
                         <f:selectItem noSelectionOption="true" itemLabel=" -Selecione- " />
                        <f:selectItems  value="#{pedidoBean.produtos}"  var="produto" itemValue="#{produto}" itemLabel="#{produto.nome}" />
                   </p:selectOneMenu>
                    
                    <p:outputLabel value="Numero da mesa:" />
                    <p:selectOneMenu filter="true" value="#{pedidoBean.pedido.mesa}" converter="omnifaces.SelectItemsConverter">
                           <f:selectItem noSelectionOption="true" itemLabel=" -Selecione- " />
                           <f:selectItems  value="#{pedidoBean.mesas}" var="mesa" itemValue="#{mesa}" itemLabel="#{mesa.numero}" />
                   </p:selectOneMenu>
                    

                </h:panelGrid>
                

                <h:panelGrid columns="2" width="50%" styleClass="center-table" style="text-align:right">
				<p:commandButton value="Salvar"								 
                                    actionListener="#{pedidoBean.salvar}"
                                    update=":mensagem :formCadastro:painel :formListagem:tabela" />
				<p:commandButton value="Fechar" 
                                oncomplete="PF('dialogo').hide();" />
			</h:panelGrid>
            </h:form>
        </p:dialog>
    </h:body>
</html>